package main

import (
	"log"
	"net/http"
	"{{.GitRepository}}/handlers"
)

func main() {
	mux := http.NewServeMux()
	handlers.SetupHandlers(mux)

	log.Println("Starting HTTP server on port 8080")
	log.Fatal(http.ListenAndServe(":8080", mux))
}
